/*
  dfki-code Theme
  Ported to CodeMirror by Peter Kroon <plakroon@gmail.com>
  Report bugs/issues here: https://github.com/codemirror/CodeMirror/issues
  GitHub: @peterkroon

  The dfki-code theme is inspired on the displayed code examples at: https://developer.mozilla.org/en-US/docs/Web/CSS/animation

*/
.cm-s-dfki-code.CodeMirror { color: rgb(88,88,90); background-color: transparent; }
.cm-s-dfki-code div.CodeMirror-selected { background: rgba(0,104,163,0.1); }
.cm-s-dfki-code .CodeMirror-line::selection, .cm-s-dfki-code .CodeMirror-line > span::selection, .cm-s-dfki-code .CodeMirror-line > span > span::selection { background: #cfc; }
.cm-s-dfki-code .CodeMirror-line::-moz-selection, .cm-s-dfki-code .CodeMirror-line > span::-moz-selection, .cm-s-dfki-code .CodeMirror-line > span > span::-moz-selection { background: #cfc; }

.cm-s-dfki-code .CodeMirror-gutters { background: #f8f8f8; border-left: 6px solid rgba(0,83,159,0.65); color: #333; }
.cm-s-dfki-code .CodeMirror-linenumber { color: #aaa; padding-left: 8px; }
.cm-s-dfki-code .CodeMirror-cursor { border-left: 2px solid #222; }

.cm-s-dfki-code .cm-keyword { color: #0000FF; }
.cm-s-dfki-code .cm-def { color: #AF00DB; }
.cm-s-dfki-code .cm-atom { color: rgb(222, 124, 10); }
.cm-s-dfki-code .cm-number { color:  #09885a; }
.cm-s-dfki-code .cm-def { color: #795E26; }
.cm-s-dfki-code .cm-variable { color: #001080; }
.cm-s-dfki-code .cm-variable-2 { color: #2B91AF; }
.cm-s-dfki-code .cm-variable-3 { color: #2B91AF; }
.cm-s-dfki-code .cm-tag { color: #2B91AF; }

.cm-s-dfki-code .cm-property { color: #905; }
.cm-s-dfki-code .cm-qualifier { color: #690; }

.cm-s-dfki-code .cm-operator { color: #000000; }
.cm-s-dfki-code .cm-comment { color:#008000; font-weight:normal; }
.cm-s-dfki-code .cm-string:not(.cm-m-isabelle) { color: #A31515; }
.cm-s-dfki-code .cm-string-2 { color:#811f3f; }
.cm-s-dfki-code .cm-meta { color: #AF00DB; }
.cm-s-dfki-code .cm-builtin { color: #9B7536; }
.cm-s-dfki-code .cm-tag { color: #997643; }
.cm-s-dfki-code .cm-attribute { color: #d6bb6d; }
.cm-s-dfki-code .cm-header { color: #FF6400; }
.cm-s-dfki-code .cm-hr { color: #AEAEAE; }
.cm-s-dfki-code .cm-link { text-decoration:underline; }
/*.cm-s-dfki-code .cm-error {  }*/

.cm-s-dfki-code .cm-empty-error { border-bottom: :  }

div.cm-s-dfki-code .CodeMirror-activeline-background { background: #efefff; }
div.cm-s-dfki-code span.CodeMirror-matchingbracket { outline:1px solid grey; color: inherit; }