@import "fonts/FiraCode.less";

.CodeMirror {
  height: auto;
  font-family: "Fira Code Web"
}

code.hidden {
  display: none;
}

.reveal pre.CodeMirror-line {
  box-shadow: none !important;
  width: auto !important;
}