@import "fonts/FiraCode.less";

.CodeMirror {
  height: auto;
  font-family: "Fira Code" !important;
  pre {
    font-size: 90% !important;
    font-feature-settings: "calt" 1;
    font-variant-ligatures: contextual !important;
    text-rendering: optimizeLegibility;
  }
  .CodeMirror-scroll {
    margin: 0 -30px -30px 0 !important;
    padding: 0 30px 30px 0 !important;
  }
  .CodeMirror-line {
    box-shadow: none !important;
    width: auto !important;
  }
  .CodeMirror-cursor {
    border-left: 1px solid black !important;
    border-right: none !important;
    width: 0 !important;
  }
}

code {
  display: inline-block;
  &.block {
    display: block;
  }
  &.condense .CodeMirror pre {
    font-size: 66.7% !important;
  }
  &.hidden {
    display: none;
  }
}