.CodeMirror {
  .CodeMirror-linewidget {
    overflow: visible;

    block {
      display: inline-block;
    }

    sendback {
      color: rgb(0,104,163);
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }

    text_fold {
      display: block;
    }

    subgoal {
      margin-left: 1em;
    }

    xml_elem xml_body {
      display: none;
    }

    position {
      color: rgb(0,104,163);
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }

    delimiter {
      font-family: "MathJax_Math";
    }

    keyword1 {
      color: blue;
      font-weight: bold;
    }

    bound {
      color: green;
    }

    keyword2 {
      color: blue;
    }

    free {
      color: blue;
      font-style: italic;
    }

    var {
      color: darkblue;
      font-style: italic;
    }

    entity {
      font-family: "MathJax_Math";
    }

    tfree {
      font-family: "MathJax_Math";
      font-style: italic;
      color: cadetblue;
    }

    literal {
      color: rgb(0,104,163);
    }

    .error {
      font-size: 66%;
      text-align: left;
      border: none;
      border-top: 5px solid crimson;
      padding-left: 10px;
      background-color: #eee;
      margin: 4px 5px 8px 0;
    }

    .cm-m-isabelle.info,
    .cm-m-isabelle.output,
    .cm-m-isabelle.error,
    .cm-m-isabelle.warning {
      font-family: "MathJax_Main";
    }

    .info {
      font-size: 66%;
      text-align: left;
      border-top: 5px solid rgb(0,104,163);
      padding-left: 10px;
      background-color: #eee;
      margin: 4px 5px 8px 0;
      &.pre {
        white-space: pre;
      }
    }

    .warning {
      font-size: 66%;
      text-align: left;
      border-top: 5px solid darkorange;
      padding-left: 10px;
      margin: 4px 5px 8px 0;
      background-color: #eee;
    }

    .output {
      font-size: 66%;
      text-align: left;
      border-left: 5px solid gray;
      padding-left: 10px;
      margin: 4px 5px 8px 0;
      background-color: #eee;

      &.fragment {
        max-height: 0;
        margin: 0;
        opacity: 0 !important;
        &.visible.all, &.current-fragment {
          max-height: 250px;
          margin: 4px 5px 8px 0;
          opacity: 1 !important;
        }
      }
    }
  }

  span.cm-m-isabelle.cm-operator:first-child + span.cm-m-isabelle {
    font-family: "Fira Code";
  }

  span.cm-m-isabelle.cm-operator:first-child {
      font-family: "Fira Code";
  }
  span.cm-m-isabelle:first-child {
      font-family: "Fira Code";
  }
  span.cm-m-isabelle {
      font-family: MathJax_Math;
  }

  CodeMirror-widget span.cm-m-isabelle.symbol {
    pointer-events: none;
  }

  span.cm-m-isabelle.cm-identifier, span.cm-m-isabelle.cm-ident {
    font-family: "MathJax_Math" !important;
    font-style: italic;
  }

  span.cm-m-isabelle.string, span.cm-m-isabelle.cm-string {
    font-family: "MathJax_Math";
  }

  span.cm-m-isabelle.cm-tfree, span.cm-m-isabelle.cm-free {
    font-family: "MathJax_Math" !important;
  }

  span.cm-m-isabelle.delimiter:not(:first-child) {
    font-family: "MathJax_Math" !important;
  }

  span.cm-m-isabelle.cm-keyword, span.cm-m-isabelle.cm-def {
    font-family: "MathJax_Main" !important;
  }

  span.cm-sup {
    font-size: 66%;
    line-height: 0;
    vertical-align: super;
  }
  span.cm-sub {
    font-size: 66%;
    line-height: 0;
    vertical-align: sub;
  }
  span.cm-bold {
    font-weight: bold;
  }
  span.cm-malformed {
    text-decoration: line-through;
  }

  /* inner syntax */
  span.cm-tfree {
    font-style: italic;
    color: cadetblue;
  }
  span.cm-tvar {
    color: cadetblue;
  }
  span.cm-entity {
    &:hover {
      text-decoration: underline;
    }
  }
  span.cm-free, span.cm-term, span.free, span.term {
    color: blue;
  }
  span.skolem {
    color: #d2691e
  }
  span.bound {
    color: green
  }
  span.var {
    color: darkorange;
  }
  span.delimiter, span.control {
    color: gray;
  }

  /*span.cm-error {
    position: relative;
    &:after {
      border: .2em solid #f44336;
      border-top: none;
      border-radius: 1.2em 1em 2em 1.5em;
      bottom: -.3em;
      content: '';
      left: -.2em;
      position: absolute;
      right: -.3em;
      top: -.1em;
      transform: rotate(-1deg);
    }
    &:before {
      border-top: .2em solid #f44336;
      border-radius: .5em;
      content: '';
      height: 1em;
      left: 0;
      position: absolute;
      top: -.3em;
      transform: rotate(-10deg);
      width: 2em;
    }
  }*/

  span.cm-warning {
    position: relative;
    &:after {
      content: "~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~";
      font-family: "Fira Code";
      color: orange;
      position: absolute;
      letter-spacing: -0.23em;
      left: 0px;
      top: 0.3em;
      right: 0;
      height: 1em;
      overflow: hidden;
      padding-left: 0.2em;
    }
  }

  span.cm-info, span.cm-writeln {
    background-color: fade(rgb(0,104,163),20%);
  }

  span.cm-empty-error {
    position: relative;
  }

  span.cm-empty-error::after {
      content: "▲";
      position: absolute;
      top: .6em;
      left: 0;
      color: crimson;
  }

  span.cm-empty-error {
    position: relative;
  }

  span.cm-error {
    position: relative;
    background-color: rgba(200,0,0,0.3)
  }

  span.cm-error::after {
      content: "▲";
      position: absolute;
      top: .6em;
      left: ~"calc(50% - .3em)";
      color: crimson;
  }

  span.cm-error + span.cm-error::after {
    content: none;
  }
}
